[Desktop Entry]
Name=Google
Type=Application
Icon=icon.png
Exec=qmlscene %u qml/Main.qml
Terminal=false
X-Ubuntu-Touch=true

X-Ubuntu-Splash-Color=#FFFFFF

Name[en_US]=Google
