[Desktop Entry]
Name=diaspora*
Exec=qmlscene qml/Main.qml
Icon=splash.svg
Terminal=false
Type=Application
X-Ubuntu-Touch=true

X-Ubuntu-Splash-Color=#040404
X-Ubuntu-Splash-Image=splash.svg
